* {
    padding: 0;
    margin: 0;
}

::selection {
    color: var(--white);
    background-color: var(--primary);
}

body {
    background-color: var(--background);
}

img[src$=".jpg"] {
    border-radius: 4px;
}

